<!DOCTYPE html>
<html>
	<head>
		<link rel='stylesheet' href='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css' integrity='sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u' crossorigin='anonymous'>
	</head>
  <body>
  	<div class='container-fluid'>
      <h1>drchrono Reminder Portal</h2>
    <h1><br><span class="glyphicon glyphicon-gift" aria-hidden="true"></span> Do any of my patients have birthdays today?</h1>
    {% for b in bdays %}
      <h2> {{ b }}</h2>
    {% endfor %}
    {% if bdays|length == 0 %}
      <h2>Nope, no birthdays today!</h2>
    {% endif %}
  </div>
  </body>
</html>